.glassjoe {
    background-color: var(--mtpo);
}

.vonkaiser {
    background-color: #63B0FF;
    color: black
}

.pistonhonda {
    background-color: #B53120;
}

.donflamenco {
    background-color: #7527FE;
}

.kinghippo {
    background-color: #C676FE;
}

.greattiger {
    background-color: #48CDDE;
    color: black
}

.baldbull {
    background-color: var(--mtpo);
}

.sodapopinski {
    background-color: #A019CC;
}

.mrsandman {
    background-color: #ADADAD;
    color: black;
}

.supermachoman {
    background-color: #C0DFFF;
    color: black
}

.miketyson {
    background-color: #9290FF;
    color: black
}