.gabbyjay {
    background-color: var(--spo);
}

.bearhugger {
    background-color: var(--spo);
}

.pistonhurricane {
    background-color: var(--spo);
}

.baldbull {
    background-color: var(--spo);
}

.bobcharlie {
    background-color: #5ab34f;
}

.dragonchan {
    background-color: #5ab34f;
}

.maskedmuscle {
    background-color: #5ab34f;
}

.mrsandman {
    background-color: #5ab34f;
}

.aranryan {
    background-color: #b98f47;
}

.heikekagero {
    background-color: #b98f47;
}

.madclown {
    background-color: #b98f47;
}

.supermachoman {
    background-color: #b98f47;
}

.narcisprince {
    background-color: #7458c7;
}

.hoyquarlow {
    background-color: #7458c7;
}

.rickbruiser {
    background-color: #7458c7;
}

.nickbruiser {
    background-color: #7458c7;
}