:root {
    --cuphead-yellow: #ffcf10;
    --cuphead-green: #a0e1c0;
    --dlc-font: #433650;
    --gray: #434343;
    --gray2: #343434;
}

@font-face {
    font-family: "cuphead-memphis";
    src: url("fonts/cuphead-memphis.ttf") format("truetype");
}

@font-face {
    font-family: "cuphead-vogue";
    src: url("fonts/CupheadVogue-ExtraBold-merged.ttf") format("truetype");
}

body {
    font-family: "cuphead-memphis";
    background-color: var(--gray);
    color: white;
    margin: 0;
}

header {
    /* display: flex; */
    background-color: var(--cuphead-yellow);
    color: black;
    padding-top: 10px;
    margin-bottom: 20px;
    height: 130px;
}

footer {
    background-color: var(--cuphead-yellow);
    color: black;
    height: 80px;
    margin-top: 20px;
    padding-top: 10px;
    align-items: center;
}

h1 {
    font-family: "cuphead-vogue";
    margin-bottom: 0;
}

h1,
p {
    transform: translate(0px, -20px)
}

h1,
h2 {
    text-align: center;
    padding: 0 10px;
}

p {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

td {
    text-align: center
}

.onePointOne {
    background-color: mediumpurple;
    color: black
}

.legacy {
    background-color: lightseagreen;
    color: black
}

.nmg {
    background-color: lightcoral;
    color: black
}

.dlc {
    background-color: var(--cuphead-green);
    color: var(--dlc-font)
}

.dlcbase {
    background-color: khaki;
    color: black
}

.first {
    background-color: var(--cuphead-yellow);
    color: black
}

.second {
    background-color: lightgray;
    color: black
}

.third {
    background-color: darkorange;
    color: black
}

header img {
    width: 55px;
    height: auto;
    object-fit: contain
}

footer img {
    height: 32px;
    width: auto;
    object-fit: contain;
    padding: 5px
}

.container {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

table {
    margin: 0 auto
}

.otherRow {
    background-color: var(--gray2);
}

.myekul {
    width: 48px;
    height: auto;
    filter: drop-shadow(0.5px 0 0 black)
        /* Right shadow */
        drop-shadow(-0.5px 0 0 black)
        /* Left shadow */
        drop-shadow(0 0.5px 0 black)
        /* Bottom shadow */
        drop-shadow(0 -0.5px 0 black);
    padding: 0
}

.grade-a-plus {
    background-color: lime;
    color: black
}

.grade-a {
    background-color: limegreen;
    color: black
}

.grade-a-minus {
    background-color: mediumseagreen;
    color: black
}

.grade-b-plus {
    background-color: greenyellow;
    color: black
}

.grade-b {
    background-color: gold;
    color: black
}

.grade-b-minus {
    background-color: goldenrod;
    color: black
}

.grade-c-plus {
    background-color: orange;
    color: black
}

.grade-c {
    background-color: darkorange;
    color: black
}

.grade-c-minus {
    background-color: chocolate;
    color: black
}

.grade-d-plus {
    background-color: tomato;
    color: black
}

.grade-d {
    background-color: crimson;
    color: black
}

.grade-d-minus {
    background-color: maroon;
    color: black
}

th.clickable {
    background-color: dimgray;
}

th.clickable:hover {
    background-color: gray;
}

th.clickable:active {
    background-color: darkgray;
}

td.clickable:hover {
    opacity: 0.7;
}

.clickable:hover {
    cursor: pointer;
}

#cuphead-logo {
    display: block;
    width: 270px;
    height: auto;
    margin: 0 auto;
}