.onePointOne {
    background-color: mediumpurple;
    color: black
}

.legacy {
    background-color: lightseagreen;
    color: black
}

.nmg {
    background-color: lightcoral;
    color: black
}

.dlc {
    background-color: var(--cupheadDLC);
    color: var(--dlc-font) !important
}

.dlcbase {
    background-color: khaki;
    color: black
}

.isle1 {
    background-color: cornflowerblue;
    color: black
}

.isle3 {
    background-color: gold;
    color: black
}

.hell {
    background-color: darkgray;
    color: black
}

.darker {
    background-color: gray;
    color: black
}