.myekul {
    width: 48px;
    height: auto;
    filter: drop-shadow(0.5px 0 0 black)
        /* Right shadow */
        drop-shadow(-0.5px 0 0 black)
        /* Left shadow */
        drop-shadow(0 0.5px 0 black)
        /* Bottom shadow */
        drop-shadow(0 -0.5px 0 black);
    padding: 0
}

.cuphead {
    background-color: var(--cuphead-yellow) !important;
    color: black
}

.sm64 {
    background-color: royalblue;
}

.tetris {
    background-color: black;
}

.titanfall_2 {
    background-color: cadetblue;
}

.simple {
    background-color: lightgreen !important;
    color: black
}

.regular {
    background-color: var(--cuphead-yellow) !important;
    color: black
}

.expert {
    background-color: salmon !important;
    color: black
}

.first {
    background-color: var(--cuphead-yellow) !important;
    color: black
}

.second {
    background-color: lightgray !important;
    color: black
}

.third {
    background-color: darkorange !important;
    color: black
}

.onePointOne {
    background-color: mediumpurple !important;
    color: black
}

.legacy {
    background-color: lightseagreen !important;
    color: black
}

.nmg {
    background-color: lightcoral !important;
    color: black
}

.dlc {
    background-color: var(--cuphead-green) !important;
    color: var(--dlc-font) !important
}

.dlcbase {
    background-color: khaki !important;
    color: black
}

.isle1 {
    background-color: cornflowerblue;
    color: black
}

.isle3 {
    background-color: gold;
    color: black
}

.hell {
    background-color: darkgray;
    color: black
}

.therootpack {
    background-color: var(--cuphead-yellow);
    color: black
}

.goopylegrande {
    background-color: cornflowerblue;
    color: black
}

.hildaberg {
    background-color: brown;
    color: var(--cuphead-yellow)
}

.cagneycarnation {
    background-color: orange;
    color: black
}

.ribbyandcroaks {
    background-color: olive;
    color: white
}

.baronessvonbonbon {
    background-color: hotpink;
    color: white
}

.beppitheclown {
    background-color: firebrick;
    color: white
}

.djimmithegreat {
    background-color: indianred;
    color: mediumturquoise
}

.grimmatchstick {
    background-color: yellowgreen;
    color: black
}

.wallywarbles {
    background-color: mediumblue;
    color: white
}

.rumorhoneybottoms {
    background-color: gold;
    color: black
}

.captainbrineybeard {
    background-color: crimson;
    color: white
}

.sallystageplay {
    background-color: lightseagreen;
    color: black
}

.wernerwerman {
    background-color: sienna;
    color: white
}

.drkahlsrobot {
    background-color: darkgray;
    color: black
}

.calamaria {
    background-color: var(--cuphead-green);
    color: var(--dlc-font)
}

.phantomexpress {
    background-color: mediumpurple;
    color: white
}

.kingdice {
    background-color: blueviolet;
    color: white
}

.thedevil {
    background-color: black;
    color: var(--cuphead-yellow)
}

.glumstonethegiant {
    background-color: burlywood;
    color: black
}

.moonshinemob {
    background-color: teal;
    color: var(--cuphead-yellow)
}

.thehowlingaces {
    background-color: goldenrod;
    color: crimson
}

.mortimerfreeze {
    background-color: darkviolet;
    color: darkturquoise
}

.estherwinchester {
    background-color: chocolate;
    color: var(--cuphead-yellow)
}

.chefsaltbaker {
    background-color: lightgray;
    color: black
}

/* SM64 */

.bob {
    background-color: lawngreen;
    color: black
}

.wf {
    background-color: moccasin;
    color: chocolate
}

.jrb {
    background-color: darkblue;
    color: darkturquoise
}

.ccm {
    background-color: lightskyblue;
    color: white
}

.bbh {
    background-color: slateblue;
    color: white
}

.hmc {
    background-color: seagreen;
    color: beige
}

.lll {
    background-color: maroon;
    color: orange
}

.ssl {
    background-color: gold;
    color: black
}

.ddd {
    background-color: royalblue;
    color: paleturquoise
}

.sl {
    background-color: lightgray;
    color: black
}

.wdw {
    background-color: saddlebrown;
    color: white
}

.ttm {
    background-color: orangered;
    color: white;
}

.thi {
    background-color: limegreen;
    color: beige
}

.ttc {
    background-color: khaki;
    color: saddlebrown
}

.rr {
    background-color: aqua;
    color: black
}