.myekulColor {
    color: #F0C03E;
    white-space: nowrap;
}

.first {
    background-color: var(--cuphead-yellow) !important;
    color: black
}

.second {
    background-color: silver !important;
    color: black
}

.third {
    background-color: darkorange !important;
    color: black
}

.onePointOne {
    background-color: mediumpurple !important;
    color: black
}

.legacy {
    background-color: lightseagreen !important;
    color: black
}

.nmg {
    background-color: lightcoral !important;
    color: black
}

.dlc {
    background-color: var(--cuphead-green) !important;
    color: var(--dlc-font) !important
}

.dlcbase {
    background-color: khaki !important;
    color: black
}

.isle1 {
    background-color: cornflowerblue;
    color: black
}

.isle3 {
    background-color: gold;
    color: black
}

.hell {
    background-color: darkgray;
    color: black
}

.darker {
    background-color: gray;
    color: black
}