.sm64 {
    background-color: dodgerblue !important;
    color: white
}

.tetris {
    background-color: black;
    color: white
}

.titanfall_2 {
    background-color: cadetblue;
    color: azure
}

.smb1 {
    background-color: mediumslateblue;
    color: white
}

.smbtll {
    background-color: slateblue;
    color: white
}

.smb2 {
    background-color: #2cb2fd;
    color: white
}

.smb3 {
    background-color: #ffe502;
    color: black
}

.nsmbds {
    background-color: aqua;
    color: black
}

.nsmbw {
    background-color: #eb1c26;
    color: white
}

.nsmbu {
    background-color: steelblue;
}

.nslu {
    background-color: limegreen;
}

.mtpo {
    background-color: var(--mtpo);
    color: white;
}

.spo {
    background-color: var(--spo);
    color: white;
}

.sms {
    background-color: darkturquoise;
    color: black
}

.facade {
    background-color: gray;
    color: white
}

.dkc {
    background-color: forestgreen;
    color: white
}

.dkc2 {
    background-color: gold;
    color: black
}

.dkc3 {
    background-color: dodgerblue;
    color: white
}

.ssb64 {
    background-color: gold;
    color: black
}

.ssbm {
    background-color: black;
    color: white
}

.bfbb {
    background-color: skyblue;
    color: black
}

.the_messenger {
    background-color: midnightblue;
    color:cornflowerblue
}