:root {
    --cuphead-yellow: #ffcf10;
    --cuphead-green: #a0e1c0;
    --dlc-font: #433650;
    --background: #343434;
    --otherColor: #434343;
    --gray: dimgray;
    --font: 'cuphead-memphis';
    --font2: 'cuphead-vogue';
    --banner: var(--cuphead-yellow);
    --bannerText: black;
    --modal-height: 30%
}

.background {
    background-color: var(--background);
}

.banner {
    background-color: var(--banner);
    color: var(--bannerText)
}

@font-face {
    font-family: "cuphead-memphis";
    src: url("../fonts/cuphead-memphis.ttf") format("truetype");
}

@font-face {
    font-family: "cuphead-vogue";
    src: url("../fonts/CupheadVogue-ExtraBold-merged.ttf") format("truetype");
}

@font-face {
    font-family: "sm64";
    src: url("../fonts/sm64.ttf") format("truetype");
}

@font-face {
    font-family: "pressStart2P";
    src: url("../fonts/pressStart2P.ttf") format("truetype");
}

body {
    font-family: var(--font);
    /* background-color: var(--background); */
    color: white;
    margin: 0;
    min-height: 100vh;
    overscroll-behavior: none;
    display: flex;
    flex-direction: column;
    background: repeating-linear-gradient(45deg,
            var(--background),
            var(--background) 10px,
            var(--otherColor) 10px,
            var(--otherColor) 20px);
}

main {
    flex: 1;
}

input {
    accent-color: var(--banner);
}

progress {
    accent-color: var(--banner);
}

header {
    /* display: flex; */
    background-color: var(--banner);
    color: var(--bannerText);
    padding-top: 10px;
    margin-bottom: 10px;
    height: 100px;
    justify-content: space-between;
    display: flex;
}

#headerCenter {
    flex-grow: 1;
    text-align: center
}

footer {
    background-color: var(--banner);
    color: var(--bannerText);
    height: 80px;
    margin-top: 20px;
    padding-top: 10px;
    align-items: center;
}

h1 {
    font-family: var(--font2);
    margin-bottom: 0;
}

#subtitle,
header p {
    transform: translate(0px, -20px)
}

h1,
h2 {
    text-align: center;
    padding: 0 10px;
}

p {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

td {
    text-align: center
}

.onePointOne {
    background-color: mediumpurple;
    color: black
}

.legacy {
    background-color: lightseagreen;
    color: black
}

.nmg {
    background-color: lightcoral;
    color: black
}

.dlc {
    background-color: var(--cuphead-green);
    color: var(--dlc-font)
}

.dlcbase {
    background-color: khaki;
    color: black
}

.first {
    background-color: var(--cuphead-yellow);
    color: black
}

.second {
    background-color: lightgray;
    color: black
}

.third {
    background-color: darkorange;
    color: black
}

header img {
    width: 55px;
    height: auto;
    object-fit: contain
}

footer img {
    height: 32px;
    width: auto;
    object-fit: contain;
    padding: 5px
}

.container {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.myekul {
    width: 48px;
    height: auto;
    filter: drop-shadow(0.5px 0 0 black)
        /* Right shadow */
        drop-shadow(-0.5px 0 0 black)
        /* Left shadow */
        drop-shadow(0 0.5px 0 black)
        /* Bottom shadow */
        drop-shadow(0 -0.5px 0 black);
    padding: 0
}

table {
    margin: 0 auto;
    table-layout: fixed;
    background-color: var(--background);
}

.otherRow {
    background-color: var(--otherColor);
}

#leaderboard th.clickable {
    background-color: var(--gray);
}

.clickable:hover {
    opacity: 0.8;
    cursor: pointer;
}

.clickable:active {
    opacity: 0.6
}

.game-logo {
    display: block;
    width: 210px;
    height: auto;
    margin: 0 auto;
}

th img {
    width: 42px;
    height: auto
}

#modal-img img {
    width: 19px;
    height: auto;
    display: block;
}

.table-container td:first-child,
.table-container tbody td:nth-child(2),
.table-container tbody td:nth-child(3),
.table-container tbody td:nth-child(4),
.table-container tbody td:nth-child(5) {
    position: sticky;
    left: 0;
}

tbody td:nth-child(2) {
    left: 27px;
}

tbody td:nth-child(3) {
    left: 53px;
}

tbody td:nth-child(4) {
    left: 84px;
}

tbody td:nth-child(5) {
    left: 107px;
}

.table-container {
    max-width: 100%;
    overflow-x: auto;
}

button {
    width: 150px;
    height: 30px;
    font-size: 14px;
    font-family: var(--font);
    cursor: pointer;
    border-radius: 10px;
    border: 4px;
    margin: 2px;
    background-color: white;
}

.active:hover,
.active:active,
.active2:hover,
.active2:active,
.selected:hover,
.selected:active {
    opacity: 1;
    cursor: default !important
}

button:hover {
    opacity: 0.8
}

button:active {
    opacity: 0.6;
}

.cuphead {
    background-color: var(--cuphead-yellow);
    color: black
}

.simple {
    background-color: lightgreen;
}

.regular {
    background-color: var(--cuphead-yellow);
}

.expert {
    background-color: salmon;
}

#boardTitle {
    width: 20%;
    margin: 0 auto;
    padding: 5px
}

progress::-webkit-progress-value {
    background-color: var(--cuphead-yellow)
}

.active {
    border: 4px solid white
}

.active2 {
    border: 4px solid gray
}

.animated-button {
    background-color: var(--cuphead-yellow);
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

#chart {
    padding-top: 5px;
    height: 500px;
    /* border: 5px solid var(--background) */
}

.selected {
    background-color: white !important;
    color: black
}

select {
    font-family: var(--font)
}

.chartTab {
    padding: 5px
}

.grayedOut {
    opacity: 0.4 !important;
    cursor: default !important
}