:root {
    --cuphead-yellow: #ffcf10;
    --cuphead-green: #a0e1c0;
    --dlc-font: #433650;
    --background: #343434;
    --otherColor: #434343;
    --gray: dimgray;
    --font: 'cuphead-memphis';
    --font2: 'cuphead-vogue';
    --banner: var(--background);
    --bannerText: black;
    --modal-height: 30%
}

.background {
    background-color: var(--background) !important;
}

.banner {
    background-color: var(--banner);
    color: var(--bannerText)
}

.gray {
    background-color: var(--gray);
}

.hiddenText {
    color: transparent !important
}

@font-face {
    font-family: "cuphead-memphis";
    src: url("fonts/cuphead-memphis.ttf") format("truetype");
}

@font-face {
    font-family: "cuphead-vogue";
    src: url("fonts/CupheadVogue-ExtraBold-merged.ttf") format("truetype");
}

@font-face {
    font-family: "sm64";
    src: url("fonts/sm64.ttf") format("truetype");
}

@font-face {
    font-family: "pressStart2P";
    src: url("fonts/pressStart2P.ttf") format("truetype");
}

body {
    font-family: var(--font);
    color: white;
    margin: 0;
    overscroll-behavior: none;
    overflow-x: hidden;
    white-space: nowrap;
    /* background-color: var(--background); */
    background: repeating-linear-gradient(45deg,
            var(--background),
            var(--background) 10px,
            var(--otherColor) 10px,
            var(--otherColor) 20px);
}

#bodyContent {
    min-height: 100vh;
    flex-direction: column;
    display: flex
}

main {
    flex: 1;
}

input {
    accent-color: var(--banner);
}

progress {
    accent-color: var(--banner);
}

header {
    background-color: var(--banner);
    color: var(--bannerText);
    padding-top: 10px;
    height: 100px;
}

footer {
    background-color: var(--banner);
    color: var(--bannerText);
    height: 40px;
    margin-top: 20px;
    padding-bottom: 30px;
}

footer h2 {
    padding: 0 10px
}

h1 {
    font-family: var(--font2);
    margin-bottom: 0;
}

p {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    white-space: normal;
}

td {
    text-align: center
}

header img {
    width: 55px;
    height: auto;
    object-fit: contain
}

footer img {
    height: 32px;
    width: auto;
    object-fit: contain;
    padding: 5px
}

.container {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

table {
    margin: 0 auto;
    table-layout: fixed;
    background-color: var(--background);
}

.otherColor {
    background-color: var(--otherColor);
}

.clickable {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}

.clickable:hover {
    opacity: 0.8;
    cursor: pointer;
}

.clickable:active {
    opacity: 0.6
}

.gameLogo {
    height: 50px;
    width: auto;
}

#modal-img img {
    width: 19px;
    height: auto;
    display: block;
}

#leaderboardContainer {
    overflow-x: auto;
}

th {
    font-size: 12px
}

.button {
    width: 140px;
    height: 22px;
    font-size: 14px;
    font-family: var(--font);
    cursor: pointer;
    border-radius: 15px;
    margin: 2px;
    background-color: white;
    color: black;
    justify-content: center;
    align-items: center;
    display: flex
}

select {
    border-radius: 15px;
    padding: 0 3px;
    margin: 0 3px
}

.active:hover,
.active:active,
.active2:hover,
.active2:active,
.selected:hover,
.selected:active {
    opacity: 1 !important;
    cursor: default !important
}

.button:hover {
    opacity: 0.8
}

.button:active {
    opacity: 0.6;
}

#boardTitle {
    padding: 5px;
    font-weight: bold;
}

#boardTitle td,
#boardTitle th {
    font-size: 18px
}

#boardTitleDiv {
    top: 40px;
    max-width: 50%;
}

progress::-webkit-progress-value {
    background-color: var(--cuphead-yellow)
}

.active {
    border: 4px solid white
}

.active2 {
    color: var(--bannerText);
    background-color: var(--banner);
}

#chart {
    padding-top: 5px;
    height: 500px;
    width: 95%;
    margin: 0 auto;
}

.selected {
    background-color: white !important;
    color: black !important;
}

select {
    font-family: var(--font)
}

.chartTab {
    width: 80px
}

.grayedOut {
    opacity: 0.4 !important;
    cursor: default !important
}

#tabs .button {
    width: 40px;
    font-size: 18px
}

#fullgameILsVersionTabs div {
    width: 100px
}

#fullgameILsWeapons img {
    height: 36px;
    padding: 2px
}

#boardTitle td,
#boardLevel {
    padding: 6px
}

#difficultyBoth div {
    width: 124px;
    height: 20px;
}

#difficultyOne div {
    width: 60px;
    height: 20px;
}

.debug {
    filter: drop-shadow(5px 5px 5px var(--banner))
}

#ILbosses table {
    margin-top: 10px
}

.ground img,
#ground img {
    height: 36px;
    width: auto
}

.plane img,
#plane img {
    height: 30px;
    width: auto
}

#ground,
#plane {
    background-color: skyblue;
    width: 40px;
    height: 40px
}

#allLevels {
    background-color: mediumpurple;
    color: white
}

.chartLabel {
    color: black;
    font-size: 20px;
    padding: 0 5px
}

#chartPlayer {
    background-color: var(--banner);
    width: 50px;
    height: 20px
}

.trophyCase {
    font-size: 12px;
}

#tooltip {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 4px;
    font-size: 12px;
    pointer-events: none;
    display: none;
}

.hover:hover {
    opacity: 0.6;
}

#world-map {
    background: var(--otherColor);
    border: 2px solid var(--background);
    margin-top: 10px
}

#categoriesSection {
    top: 95px
}

#categoriesElem {
    max-width: 80%;
    overflow-x: scroll
}

.cursor:hover {
    cursor: pointer
}

#boardTitleSrc img {
    height: 22px;
    width: auto;
}

.options {
    padding: 4px 0
}

#flagArmy {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    width: 700px;
    row-gap: 3px;
    margin: 20px auto
}

#info td img {
    height: 18px;
    width: auto
}

.headerRow {
    padding: 5px 0;
    background-color: var(--otherColor);

}

.headerRow,
.shadow {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.bigShadow {
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2),
        5px 5px 10px rgba(0, 0, 0, 0.2),
        0 10px 10px rgba(0, 0, 0, 0.2);
}

.loadouts .button {
    width: 50px
}

.loadouts img {
    height: 20px;
    width: auto
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 1
}

#gameSelectButton {
    position: absolute;
    left: 40px;
}

#gameLogoButton {
    height: 24px;
    background-color: var(--banner);
    border-radius: 15px;
    padding: 2px 15px
}

#gameSelect {
    position: absolute;
    left: 0;
    top: 50px;
    width: 300px;
    background-color: var(--background);
    opacity: 1;
    z-index: 1;
    transform: translateX(-100%);
    /* Start slightly above */
    animation: slideRight 0.2s ease-out forwards;
}

#gameSelect.hidden {
    animation: slideLeft 0.2s ease-in-out forwards;
}

@keyframes slideRight {
    0% {
        transform: translateX(-100%);
        /* Start slightly above */
    }

    100% {
        transform: translateX(0);
        /* End at normal position */
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(0);
        /* Start slightly above */
    }

    100% {
        transform: translateX(-150%);
        /* End at normal position */
    }
}

#gameSelect img {
    height: 40px;
    padding: 5px
}

.progress-container {
    width: 100%;
    height: 4px;
    background-color: gray;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    width: 0;
    background-color: var(--banner);
    transition: width 0.15s ease;
}

.loader {
    border: 6px solid var(--gray);
    border-top: 6px solid var(--banner);
    border-radius: 50%;
    width: 12px;
    height: 12px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}