:root {
    --cuphead-yellow: #ffcf10;
    --cuphead-green: #a0e1c0;
    --dlc-font: #433650;
    --mtpo: #4240FF;
    --background: #343434;
    --otherColor: #3C3C3C;
    --gray: dimgray;
    --font: 'cuphead-memphis';
    --font2: 'cuphead-vogue';
    --banner: var(--background);
    --bannerText: black;
    --modal-height: 30%
}

.background {
    background-color: var(--background) !important;
}

.banner {
    background-color: var(--banner) !important;
    color: var(--bannerText) !important
}

.gray {
    background-color: var(--gray);
}

.hiddenText {
    color: transparent !important
}

@font-face {
    font-family: "cuphead-memphis";
    src: url("fonts/cuphead-memphis.ttf") format("truetype");
}

@font-face {
    font-family: "cuphead-vogue";
    src: url("fonts/CupheadVogue-ExtraBold-merged.ttf") format("truetype");
}

body {
    font-family: var(--font);
    font-size: 17px;
    color: white;
    margin: 0;
    overscroll-behavior: none;
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: nowrap;
    background: repeating-linear-gradient(45deg,
            var(--background),
            var(--background) 10px,
            var(--otherColor) 10px,
            var(--otherColor) 20px);
}

#bodyContent {
    min-height: 100vh;
    flex-direction: column;
    display: flex
}

main {
    flex: 1;
}

a {
    text-decoration: none;
    color: inherit
}

input {
    font-family: var(--font);
    accent-color: var(--banner)
}

header {
    background-color: var(--banner);
    color: var(--bannerText);
    height: 100px;
}

footer {
    background-color: var(--banner);
    color: var(--bannerText);
    height: 40px;
    margin-top: 20px;
    padding-bottom: 30px;
}

.footerText {
    font-size: 130%;
    padding: 0 10px;
    font-weight: bold;
}

h1 {
    font-family: var(--font2);
    margin-bottom: 0;
}

.textBlock {
    white-space: normal;
    max-width: 700px;
}

.textBox {
    background-color: var(--otherColor);
    border-radius: 5px;
    padding: 3px;
    margin: 5px;
    font-size: 90%
}

td {
    text-align: center
}

footer img {
    height: 32px;
    width: auto;
    object-fit: contain;
    padding: 5px
}

.container {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

table {
    table-layout: fixed;
    background-color: var(--background);
}

.otherColor {
    background-color: var(--otherColor);
}

.clickable {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}

.clickable:hover {
    opacity: 0.8;
    cursor: pointer;
}

.clickable:active {
    opacity: 0.6
}

#modal-img img {
    width: 19px;
    height: auto;
    display: block;
}

#leaderboardContainer {
    overflow-x: scroll;
}

th {
    font-size: 75%
}

.button {
    width: 140px;
    height: 22px;
    font-size: 80%;
    font-family: var(--font);
    cursor: pointer;
    border-radius: 15px;
    margin: 2px;
    background-color: white;
    color: black;
    justify-content: center;
    align-items: center;
    display: flex
}

select {
    border-radius: 15px;
    padding: 0 3px;
    margin: 0 3px
}

.active:hover,
.active:active,
.active2:hover,
.active2:active,
.selected:hover,
.selected:active {
    opacity: 1 !important;
    cursor: default !important
}

.button:hover {
    opacity: 0.8
}

.button:active {
    opacity: 0.6;
}

#boardTitle {
    padding: 5px;
    font-weight: bold;
}

#boardTitle td,
#boardTitle th {
    font-size: 110%
}

.boardTitleTable {
    border: 3px solid var(--banner);
    border-radius: 5px;
    font-weight: bold
}

progress::-webkit-progress-value {
    background-color: var(--cuphead-yellow)
}

.active {
    border: 4px solid white
}

.active2 {
    color: var(--bannerText);
    background-color: var(--banner) !important;
}

#chart {
    padding-top: 5px;
    height: 500px;
    width: 75%;
    margin: 0 auto;
}

.selected {
    background-color: white !important;
    color: black !important;
}

select {
    font-family: var(--font)
}

.chartTab {
    width: 80px;
    padding: 0 5px
}

.grayedOut {
    opacity: 0.4 !important;
    cursor: default !important
}

#tabs .button {
    width: 40px;
    font-size: 110%
}

#fullgameCategories .button,
#ILcategories_sm64 .button,
#WRsTabs .button,
#commBestILsVersionTabs div {
    width: 85px
}

#commBestILsWeapons img {
    height: 36px;
    padding: 0 2px
}

#boardTitle td,
#boardLevel {
    padding: 6px
}

#difficultyBoth div {
    width: 124px;
    height: 20px;
}

#difficultyOne div {
    width: 60px;
    height: 20px;
}

#ILbosses table {
    margin-top: 10px
}

.ground img,
#ground img {
    height: 36px;
    width: auto
}

.plane img,
#plane img {
    height: 30px;
    width: auto
}

#ground,
#plane {
    background-color: skyblue;
    width: 40px;
    height: 40px
}

.chartLabel {
    color: black;
    font-size: 125%;
    padding: 0 5px
}

#chartPlayer {
    background-color: var(--banner);
    width: 50px;
    height: 20px
}

.trophyCase {
    font-size: 75%;
}

#mapTooltip {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 4px;
    font-size: 75%;
    pointer-events: none;
    display: none;
}

.hover:hover {
    opacity: 0.6;
}

#world-map {
    background: var(--otherColor);
    border: 2px solid var(--background);
    margin-top: 10px
}

#categoriesElem {
    max-width: 80%;
    overflow-x: scroll
}

.cursor:hover {
    cursor: pointer
}

#boardTitleSrc img {
    height: 22px;
    width: auto;
}

.options {
    padding: 2px 0;
    width: 50px;
    text-align: center
}

#flagArmy {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    width: 700px;
    row-gap: 3px;
    margin: 20px auto
}

#WRs td img {
    height: 18px;
    width: auto
}

.headerRow {
    padding: 5px 0;
    background-color: var(--otherColor);

}

.headerRow,
.shadow {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.bigShadow,
svg {
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2),
        5px 5px 10px rgba(0, 0, 0, 0.2),
        0 10px 10px rgba(0, 0, 0, 0.2);
}

#loadouts .button {
    width: 60px
}

#loadouts img {
    height: 20px;
    width: auto
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 1
}

#gameSelectButton {
    position: absolute;
    left: 40px;
}

#gameLogoButton {
    height: 24px;
    background-color: var(--banner);
    border-radius: 15px;
    padding: 2px 15px
}

#gameSelect {
    position: absolute;
    left: 0;
    top: 50px;
    width: 250px;
    background-color: var(--background);
    opacity: 1;
    z-index: 10;
    transform: translateX(-100%);
    animation: slideRight 0.2s ease-out forwards;
}

#gameSelect.hidden {
    animation: slideLeft 0.2s ease-in-out forwards;
}

@keyframes slideRight {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-150%);
    }
}

#gameSelect img {
    max-width: 250px;
    width: 70%;
    height: 50px;
    object-fit: contain;
}

.progress-container {
    width: 100%;
    height: 5px;
    background-color: gray;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    width: 0;
    background-color: var(--banner);
    transition: width 0.15s ease;
}

.loader {
    border: 6px solid var(--gray);
    border-top: 6px solid var(--banner);
    border-radius: 50%;
    width: 12px;
    height: 12px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--banner);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--gray);
}

::-webkit-scrollbar-track {
    background-color: var(--background);
}

.grayscale {
    filter: grayscale(100%) brightness(40%);
}

.gameIcon {
    height: 30px;
    width: auto;
    margin-bottom: 2px;
    padding: 0 10px
}

.divider {
    margin: 0 15px;
    border-left: 2px solid white;
    height: 35px;
}

#videoCollection div {
    display: flex;
    margin: auto;
    justify-content: center;
}

.trophy {
    filter: drop-shadow(0.5px 1px 0 black) drop-shadow(-0.5px -0.5px 0 black);
    padding: 0 3px
}

.dropBox {
    width: 400px;
    height: 250px;
    border: 3px dashed white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: background-color 0.2s;
    position: relative;
}

.dropBoxHover {
    background-color: var(--gray) !important;
}

.pulse {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.flash {
    animation: flash 0.5s ease-in-out;
}

@keyframes flash {
    0% {
        filter: brightness(1.3)
    }

    100% {
        filter: brightness(1)
    }
}

.rrSec {
    font-family: 'cuphead-vogue';
    font-size: 120%;
    padding: 0 20px
}

#runRecap_chart svg {
    box-shadow: none
}

.cupheadButton {
    width: 155px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 10px;
    border-radius: 15px;
    text-align: center;
    font-family: 'cuphead-vogue';
    font-size: 120%
}